a{text-decoration: none; color: #000; border: none;}
.device_{background-color: #fff;padding: 14px 18px;border-radius: 10px;margin-right: 4.7rem;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{color: #000;
    background-color: #c3e3fc;}
.nav-pills .nav-link {border-radius: 2.25rem;}
.tab_chn a{text-decoration: none; color: #000;}
.search{position: relative;border: none;  }
.search input{border: none;text-indent: 25px;/* border: 1px solid #d6d4d4; */background-color: #f1f1f1;font-size: 13px;
}
.search .fa-search{position: absolute;top: 10px;left: 10px}
/* search */
.del-fl svg{width: 2rem !important;
    height: 2rem !important;
    background-color: #f1f1f1 !important;
    padding: 4px 7px;
    margin-right: 5px;
}
.flt_del a{background-color: #0d3154; color: #fff;padding: 8px 11px;border-radius: 3px;} 
.form-select:focus {
    border-color: none !important;
    box-shadow: none !important;
}   
.device_tb:active{background-color: #EDF4F9;}
.device_tb:focus{background-color: #EDF4F9;}
.ctr_img img{width: 40px;height: 40px;}
.ctr{    padding: 20px 9px;}
.table {
    /* --bs-table-bg: transparent; */
    /* --bs-table-accent-bg: transparent; */
    /* --bs-table-striped-color: #212529; */
    --bs-table-striped-bg: rgb(231 237 241) !important;}
.dropdown-toggle::after {
        display: none !important;
        margin-left: none !important;
        vertical-align:none !important;
        content: "";
        border-top: none !important;
        border-right:none !important;
        border-bottom: none !important;
        border-left: none !important;
    }  
    .btn-check:focus+.btn, .btn:focus {
        outline: 0;
        box-shadow: none !important;
    } 
    .btn { line-height: 0.5 !important; padding: 0.375rem 0.75rem !important; font-size: 2rem !important;} 
    .form-check-input:checked {
        background-color: #1EC31B;
        border-color: #1EC31B;
    }
    .view_drp i{padding: 0px 10px;}
    
    