
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left_side">
             <div class="leftside_img">
                <img src="../../assets/images/left1_img.png">
             </div>
             <div class="leftside1_img">
                <img src="../../assets/images/left2_img.png">
             </div>
            </div>
            <div class="col-md-9">
                <div class=" container login_txt">
                    <div class="sign_logo d-flex mr-auto justify-content-center">
                        <img src="../../assets/images/logo.png" width="100">
                    </div>
                    <div class="sign_head mt-4 mb-3">
                        <h1>Reset Password</h1>
                        <p class="mt-2">Please enter your new password</p>
                    </div>
                    <div class="login_sn">
                        <div class="mb-3">
                            <!-- <label for="inputPassword" class="form-label">password</label> -->
                            <div class="input_icon">
                                <i class="fas fa-unlock-alt icon"></i>
                                <i class="fas fa-eye-slash"></i>
                                <input type="password" class="form-control input-field" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- <label for="inputPassword" class="form-label">password</label> -->
                            <div class="input_icon">
                                <i class="fas fa-unlock-alt icon"></i>
                                <i class="fas fa-eye-slash"></i>

                                <input type="password" class="form-control input-field" id="inputPassword"placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="login_btn">
                            <button type="button" class="">Update Password</button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>



