<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 left_side">
      <div class="leftside_img">
        <img src="../../assets/images/left1_img.png" />
      </div>
      <div class="leftside1_img">
        <img src="../../assets/images/left2_img.png" />
      </div>
    </div>
    <div class="col-md-9">
      <div class="container login_txt">
        <div class="sign_logo d-flex mr-auto justify-content-center">
          <img src="../../assets/images/logo.png" width="100" />
        </div>
        <div class="sign_head mt-4 mb-3">
          <h1>Login</h1>
          <p class="mt-2">please login to access your account</p>
        </div>
        <form class="login_sn" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
            <div class="input_icon">
              <i class="fas fa-envelope"></i>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
                formControlName="email"
              />
            </div>
          </div>
          <div class="mb-3">
            <!-- <label for="inputPassword" class="form-label">password</label> -->
            <div class="input_icon">
              <i class="fas fa-unlock-alt icon"></i>
              <input
                type="password"
                class="form-control input-field"
                id="inputPassword"
                formControlName="password"
              />
            </div>
          </div>
          <div class="sign_up1">
            <a class="d-flex mr-auto justify-content-end">forget password?</a>
          </div>
          <div class="login_btn">
            <button type="submit" value="submit" class="">Login</button>
          </div>
        </form>
        <div class="mt-4">
          <p class="d-flex mr-auto justify-content-center">
            Don’t have an account?
            <span class="sign_up"><a routerLink="/sign-up">Sign up</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
