.sign_logo img{ width: 30%;}
.sign_head h1{display: flex; margin: auto; justify-content: center;}
.sign_head p{display: flex; margin: auto; justify-content: center; color: rgb(114, 111, 111);}
.login_btn button{text-decoration: none;background-color: #103759;border: none;color: #fff;
    border-radius: 4px;width: 100%;padding: 7px 0px;}
.login_sn{padding: 0rem 11rem;}
.left_side{background-color:#103759;height: 100vh;padding-left: 0px;}
.leftside_img img{width: 80%;margin: 7rem 2.4rem;}
.leftside1_img{margin-left: 1px;margin-right: -10px;}
.leftside1_img img{width: 100%;}
.sign_head svg{display: flex;justify-content: center;margin: auto;color: #fff;background-color: #6CA3CC;border-radius: 50%;
    width: 25px;padding: 0px 7px;height: 25px;}
.login_txt{padding: 7rem 0px;}
