<mat-toolbar class="">
    <mat-toolbar-row class="justify-content-between header_bg">
        <!-- <button mat-cion-button><mat-icon>menu</mat-icon></button> -->
        <h4 class="mt-3 well_cm">Welcome!<span class="fw-bold">Simon Smith</span></h4>
           
        
        <div class="row mr-2 ml-auto drop_up d-inline">
            <div class=" d-flex mr-auto bell">
                <i class="fas fa-bell"></i> 
                <img src="../../assets/images/user.png" class="user_a">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Simon Smith</option>
                    <option value="" routerLink="/login-page" routerLinkActive="list-item-active">login</option>
                    <option value="1">logout</option>
                  </select>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
