<div class="home ps-4 pt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bread_tg">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </ol>
    </nav>
    <div class=" d-flex mr-auto flex-wrap">
        
        <div class="card crd_bx" style="width: 14rem;">
            <div class="card-body d-flex mr-auto crd_inr box1">
                <i class="fas fa-box"></i>
                <div class="">
                    <p class="d-grid">Total Inventory <span class="fw-bold">120</span></p>
                </div>
            </div>
        </div>
       
      
        <div class="card crd_bx" style="width: 14rem;">
            <div class="card-body d-flex mr-auto crd_inr box2">
                <i class="fas fa-box"></i>
                <div class="">
                    <p class="d-grid">Activated Inventory<span class="fw-bold">80</span></p>
                </div>
            </div>
        </div>
        
     
        <div class="card crd_bx" style="width: 14rem;">
            <div class="card-body d-flex mr-auto crd_inr box3">
                <i class="fas fa-box"></i>
                <div class="">
                    <p class="d-grid">Suspended<span class="fw-bold">90</span></p>
                </div>
            </div>
        </div>
        
       
        <div class="card crd_bx" style="width: 14rem;">
            <div class="card-body d-flex mr-auto crd_inr box4">
                <i class="fas fa-box"></i>
                <div class="">
                    <p class="d-grid">Not Allocated<span class="fw-bold">10</span></p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="d-flex flex-wrap">
        <div class="card  me-4">
            <div class="card   px-2 py-2" style="width: 30rem; height: 460px;">
               <div class="d-flex mr-auto justify-content-between">
                <div class="">
                    <p class="fw-bold">Alarms Received</p>
                </div>
                <div class="d-flex mr-auto unit_dy">
                    <p class="ms-2"> 10 units <span>30 days</span></p>
                </div>
               </div>
               <!-- search -->
                <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search alarm by type, device name, customer name">
                </div>
                <!-- search -->
                <!-- alaram -->
                <div class="over_ly mt-2">
                    <div class="crd-alrm mt-2 me-2">
                        <div class="row">
                            <div class="col-md-2 alrm_1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="col-md-10 alrm- py-2">
                                <p>Alarm type-<span>SOS</span></p>
                                <p>Device Name- <span>MXD Landline Unit</span></p>
                                <div class="d-flex mr-auto justify-content-between">
                                    <p>Customer Name-<span>Alina Cooper</span></p>
                                    <p>2m ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="crd-alrm mt-2 me-2">
                        <div class="row">
                            <div class="col-md-2 alrm_1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="col-md-10 alrm- py-2">
                                <p>Alarm type-<span>SOS</span></p>
                                <p>Device Name- <span>MXD Landline Unit</span></p>
                                <div class="d-flex mr-auto justify-content-between">
                                    <p>Customer Name-<span>Alina Cooper</span></p>
                                    <p>2m ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="crd-alrm mt-2 me-2">
                        <div class="row">
                            <div class="col-md-2 alrm_1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="col-md-10 alrm- py-2">
                                <p>Alarm type-<span>SOS</span></p>
                                <p>Device Name- <span>MXD Landline Unit</span></p>
                                <div class="d-flex mr-auto justify-content-between">
                                    <p>Customer Name-<span>Alina Cooper</span></p>
                                    <p>2m ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="crd-alrm mt-2 me-2">
                        <div class="row">
                            <div class="col-md-2 alrm_1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="col-md-10 alrm- py-2">
                                <p>Alarm type-<span>SOS</span></p>
                                <p>Device Name- <span>MXD Landline Unit</span></p>
                                <div class="d-flex mr-auto justify-content-between">
                                    <p>Customer Name-<span>Alina Cooper</span></p>
                                    <p>2m ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card   px-2 py-2" style="width: 30rem; height: 460px;">
                <div class="d-flex mr-auto justify-content-between">
                 <div class="">
                     <h3>Customer Queries</h3>
                 </div>
                 <div class="d-flex mr-auto ">
                     <p class="ms-2">View All</p>
                 </div>
                </div>
                <!-- search -->
                 <div class="search">
                 <i class="fa fa-search"></i>
                 <input type="text" class="form-control" placeholder="Search alarm by type, device name, customer name">
                 </div>
                 <!-- search -->
                 <!-- alaram -->
                 <div class="over_ly mt-2">
                     <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                            <div class="d-flex custm_im">
                                <img src="../../assets/images/custm2.png">
                                <div class="custm_txt">
                                    <h1>Alina Cooper</h1>
                                <p>Lorem ipsum dolor....</p>
                                </div>
                            </div>
                            <div  class="px-1 py-2">
                                <p class="alrm_2">1</p>
                                <p>2am ago</p>
                            </div>
                         </div>
                     </div>
                     <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                            <div class="d-flex custm_im">
                                <img src="../../assets/images/custm1.png">
                                <div class="custm_txt">
                                    <h1>Alina Cooper</h1>
                                <p>Lorem ipsum dolor....</p>
                                </div>
                            </div>
                            <div class="px-1 py-2">
                                <p class="alrm_2">1</p>
                                <p>2am ago</p>
                            </div>
                         </div>
                     </div>
                     <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                            <div class="d-flex custm_im">
                                <img src="../../assets/images/custm1.png">
                                <div class="custm_txt">
                                    <h1>Alina Cooper</h1>
                                <p>Lorem ipsum dolor....</p>
                                </div>
                            </div>
                            <div class="px-1 py-2">
                                <p class="alrm_2">1</p>
                             <p>2am ago</p>
                            </div>
                         </div>
                     </div>
                     <div class=" mt-2 me-2 cust_al">
                         <div class="d-flex mr-auto justify-content-between">
                            <div class="d-flex custm_im">
                                <img src="../../assets/images/custm1.png">
                                <div class="custm_txt">
                                    <h1>Alina Cooper</h1>
                                <p>Lorem ipsum dolor....</p>
                                </div>
                            </div>
                            <div class="px-1 py-2">
                                <p class="alrm_2">1</p>
                                <p>2am ago</p>
                            </div>
                         </div>
                     </div>
                     <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                           <div class="d-flex custm_im">
                               <img src="../../assets/images/custm1.png">
                               <div class="custm_txt">
                                   <h1>Alina Cooper</h1>
                               <p>Lorem ipsum dolor....</p>
                               </div>
                           </div>
                           <div class="px-1 py-2">
                            <p class="alrm_2">1</p>
                               <p>2am ago</p>
                           </div>
                        </div>
                    </div>
                    <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                           <div class="d-flex custm_im">
                               <img src="../../assets/images/custm1.png">
                               <div class="custm_txt">
                                   <h1>Alina Cooper</h1>
                               <p>Lorem ipsum dolor....</p>
                               </div>
                           </div>
                           <div class="px-1 py-2">
                               <p class="alrm_2">1</p>
                               <p>2am ago</p>
                           </div>
                        </div>
                    </div>
                    <div class=" mt-2 me-2 cust_al">
                        <div class="d-flex mr-auto justify-content-between">
                           <div class="d-flex custm_im">
                               <img src="../../assets/images/custm1.png">
                               <div class="custm_txt">
                                   <h1>Alina Cooper</h1>
                               <p>Lorem ipsum dolor....</p>
                               </div>
                           </div>
                           <div class="px-1 py-2" >
                            <p class="alrm_2">1</p>
                               <p>2am ago</p>
                           </div>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>
</div>
