<div class="px-4 py-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bread_tg">
          <li class="breadcrumb-item"><a href="#" class="pe-2">Active Device & Customers Managemnt</a></li><i class="fas fa-angle-double-right"></i>
          <li class="breadcrumb-item  active" aria-current="page"  class="ps-2"><a class="act_crum">Alina Cooper</a></li>
        </ol>
    </nav>
    <div class=" card det_bs">
        <div class="row">
            <div class="col-md-5 hr">
                <div class="basic_v">
                    <h5>Basic Details</h5>
                    <img src="../../../../assets/images/custm2.png">
                    <p class="text-end">Status:<span class="act_v">Active</span></p>
                </div>
                <div class="">
                    <div class="d-flex">
                        <ul class="list1">
                            <li>Customer Name-</li>
                            <li>Email-</li>
                            <li>Phone No-</li>
                            <li>Call Center No-</li>
                            <li>Location-</li>
                        </ul>
                        <ul class="list2">
                            <li>Alina Cooper</li>
                            <li>alinacooper@gmail.com</li>
                            <li>+44 2465767868</li>
                            <li>+44 8526757571</li>
                            <li class="d-flex"><p >Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br>
                                <span class="fw-bold" style="color: #000;">342162</span></p> 
                        </ul>
                    </div>
                    <div class="">
                        <h5>Emergency Contact Details</h5>
                        <div class="d-flex">
                            <ul class="list1">
                                <li>Contact name-</li>
                                <li>Phone No-</li>
                            </ul>
                            <ul class="list2">
                                <li>Victoria Cooper</li>
                                <li>+44 7987987211</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Medical History</h5>
                <div class="d-flex">
                    <ul class="list1">
                        <li>Blood Group-</li>
                        <li>Height-</li>
                        <li>Weight</li>
                        <li>Age-</li>
                        <li>Illness-</li>
                        <li>Medicion Taken-</li>

                    </ul>
                    <ul class="list2">
                        <li>B+</li>
                        <li>195 Cm</li>
                        <li>80 KG</li>
                        <li>40 Years</li>
                        <li>High Blood Pressure</li> 
                        <li>Angiotensin</li> 

                    </ul>
                </div>
                <div class="px-2 py-2 card">
                    <div class="d-flex rep_list">
                        <img src="../../../../assets/images/product1.png">
                        <div class=" hr_d">
                            <h5 class="ps-4">Device Details-</h5>
                            <div class="d-flex ps-4">
                                <ul class="list1">
                                    <li>Device Name-</li>
                                    <li>IMEI No-</li>
                                    <li>Carrier-</li>
                                </ul>
                                <ul>
                                    <li>Iris SOS Device<i class="fas fa-exclamation-circle"></i></li>
                                    <li>109267652898312</li>
                                    <li>AT&T</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_cp">
            <div class="basic_v mb-2">
                <h5 class="fw-bold">Subscription Status-<span class="act">Active</span></h5>
            </div>
            <div class="d-flex sub_hr px-2 py-2">
                <ul class="pe-4">
                    <li class="fw-bold">Category 1</li>
                    <li><span class="fw-bold">$100</span>/Month</li>
                </ul>
                <ul class="pe-4">
                    <li class="fw-bold">Started</li>
                    <li>9/16/2022</li>
                </ul>
                <ul class="pe-4">
                    <li class="fw-bold">Valid Until</li>
                    <li>10/16/2022</li>
                </ul>
            </div>
        </div>
    </div>
</div>
