<div class="px-4 py-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bread_tg">
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </ol>
    </nav>
    <div class="device_">
        <div class="row mt-4">
            <div class="col-md-7">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Search alarm by type, device name, customer name">
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-between flt_del">
                <div class="del-fl">
                    <i class="fas fa-filter"></i>
                </div>
                <p><i class="fas fa-shopping-cart"></i>My Cart</p>
            </div>
        </div>     
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product1.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product2.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product3.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product4.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product5.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product6.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product7.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between prod_buy">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card prod_crd" style="width: 15rem; height: 19rem;">
                    <img src="../../assets/images/product1.png" class="card-img-top" alt="...">
                    <div class="ps-3">
                      <h5 class="card-title">Iris SOS Device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                      <h6 class="d-flex mr-auto justify-content-between">$120 <i class="fas fa-shopping-cart"></i> </h6>
                    </div>
                </div> 
            </div>
        </div>
       
    </div>

</div>


