.all_crd{margin: 2rem 5rem 0rem 3rem;}
.bread_tg a{text-decoration: none; color: rgb(94, 91, 91); border: none;}
.act_crum{color: #000; font-size: 20px;font-weight: 500;}

.rps{padding: 1rem 4rem 1rem 3rem;}
.rps ul{text-decoration: none;list-style: none; line-height: 2em;}
.list1{font-weight: 500;}
.outr_crd{    border: 1px solid #d8d7d4;margin: 0rem 21rem 0rem 2rem;border-radius: 10px;}
.list2{color: #adaca9;}
.rep_list img{width: 150px;height: 128px;padding: 1rem 1rem;}
.outr_crd{padding: 1rem 0rem;}
.viw_btn{text-decoration: none;border: none;background-color: transparent; color: #103759;font-weight: 500;}
.hr{border-left: 2px solid #bab7ac;}
