<mat-nav-list>
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="company Logo">
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div class="mt-4 side_ctr">
        <a mat-list-item routerLink="/auth/dashboard" routerLinkActive="list-item-active">
            <i class="fas fa-chalkboard-teacher"></i>Dashboard
        </a>
        <a mat-list-item routerLink="/devices-customer" routerLinkActive="list-item-active">
            <i class="fas fa-laptop-medical"></i>Devices & Customers
        </a>
        <a mat-list-item routerLink="/alarm-recevied" routerLinkActive="list-item-active">
            <i class="fas fa-bell"></i>Alarm Reports
        </a>
        <a mat-list-item routerLink="/roles-permission" routerLinkActive="list-item-active">
            <i class="fas fa-unlock-alt"></i>Role & Permissions
        </a>
        <a mat-list-item routerLink="/auth/staff-managment" routerLinkActive="list-item-active">
            <i class="fas fa-users"></i>Staff Managements
        </a>
        <a mat-list-item routerLink="/inventory-managment" routerLinkActive="list-item-active">
            <i class="fab fa-gg-circle"></i>Inventory Management
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
          <i class="fas fa-paste"></i>Products
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <i class="fas fa-business-time"></i>Orders  
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <i class="fas fa-hand-holding-heart"></i>Subscription Plans
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <i class="fas fa-hands-helping"></i>Help
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <i class="fas fa-user"></i>Account Setting 
        </a>
    </div>
</mat-nav-list>
