<div class="all_crd">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bread_tg">
          <li class="breadcrumb-item"><a href="#" class="pe-2">Dashboard</a></li><i class="fas fa-angle-double-right"></i>
          <li class="breadcrumb-item  active" aria-current="page"  class="ps-2"><a class="act_crum">Customer Queries</a></li>
        </ol>
    </nav>
    <div class="card ">
        <div class="card   px-2 py-2">
            <div class="d-flex mr-auto justify-content-between">
             <div class="d-flex mr-auto viw_al">
                 <button class="ms-2"routerLink="/customer-queries" >View All</button>
             </div>
            </div>
            <!-- search -->
             <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search customer name">
             </div>
             <!-- search -->
             <!-- alaram -->
             <div class="over_ly mt-2">
                 <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                        <div class="d-flex custm_im">
                            <img src="../../assets/images/custm2.png">
                            <div class="custm_txt">
                                <h1>Alina Cooper</h1>
                            <p>Lorem ipsum dolor....</p>
                            </div>
                        </div>
                        <div  class="px-1 py-2">
                            <p class="alrm_2">1</p>
                            <p>2am ago</p>
                        </div>
                     </div>
                 </div>
                 <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                        <div class="d-flex custm_im">
                            <img src="../../assets/images/custm1.png">
                            <div class="custm_txt">
                                <h1>Alina Cooper</h1>
                            <p>Lorem ipsum dolor....</p>
                            </div>
                        </div>
                        <div class="px-1 py-2">
                            <p class="alrm_2">1</p>
                            <p>2am ago</p>
                        </div>
                     </div>
                 </div>
                 <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                        <div class="d-flex custm_im">
                            <img src="../../assets/images/custm1.png">
                            <div class="custm_txt">
                                <h1>Alina Cooper</h1>
                            <p>Lorem ipsum dolor....</p>
                            </div>
                        </div>
                        <div class="px-1 py-2">
                            <p class="alrm_2">1</p>
                         <p>2am ago</p>
                        </div>
                     </div>
                 </div>
                 <div class=" mt-2 me-2 cust_al">
                     <div class="d-flex mr-auto justify-content-between">
                        <div class="d-flex custm_im">
                            <img src="../../assets/images/custm1.png">
                            <div class="custm_txt">
                                <h1>Alina Cooper</h1>
                            <p>Lorem ipsum dolor....</p>
                            </div>
                        </div>
                        <div class="px-1 py-2">
                            <p>9/26/2022 at 8:30 AM</p>
                        </div>
                     </div>
                 </div>
                 <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                       <div class="d-flex custm_im">
                           <img src="../../assets/images/custm1.png">
                           <div class="custm_txt">
                               <h1>Alina Cooper</h1>
                           <p>Lorem ipsum dolor....</p>
                           </div>
                       </div>
                       <div class="px-1 py-2">
                           <p>9/26/2022 at 8:30 AM</p>
                       </div>
                    </div>
                </div>
                <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                       <div class="d-flex custm_im">
                           <img src="../../assets/images/custm1.png">
                           <div class="custm_txt">
                               <h1>Alina Cooper</h1>
                           <p>Lorem ipsum dolor....</p>
                           </div>
                       </div>
                       <div class="px-1 py-2">
                           <p>9/26/2022 at 8:30 AM</p>
                       </div>
                    </div>
                </div>
                <div class=" mt-2 me-2 cust_al">
                    <div class="d-flex mr-auto justify-content-between">
                       <div class="d-flex custm_im">
                           <img src="../../assets/images/custm1.png">
                           <div class="custm_txt">
                               <h1>Alina Cooper</h1>
                           <p>Lorem ipsum dolor....</p>
                           </div>
                       </div>
                       <div class="px-1 py-2" >
                           <p>9/26/2022 at 8:30 AM</p>
                       </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>

