.all_crd{margin: 2rem 5rem 0rem 3rem;}
.bread_tg a{text-decoration: none; color: rgb(94, 91, 91); border: none;}
.act_crum{color: #000; font-size: 20px;font-weight: 500;}
.alia h6{font-size: 17px;background: #6CA3CC;color: #fff;padding: 12px 14px;font-weight: 300;border-radius: 0px 7px 7px 7px;}
.alia img{width: 50px;height: 50px;}
.send_ml{width: 100%;}
.card-header{background-color: transparent;}
.card-header svg{margin-right: 10px;}
.rply{height: 90px;}
.ml_send{background: #0c2d4e;text-decoration: none;border: none;padding: 3px 17px;color: #fff;border-radius: 5px;}
