<div class="all_crd">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bread_tg">
          <li class="breadcrumb-item"><a href="#" class="pe-2">Customer Queries</a></li><i class="fas fa-angle-double-right"></i>
          <li class="breadcrumb-item  active" aria-current="page"  class="ps-2"><a class="act_crum">Alina Cooper</a></li>
        </ol>
    </nav>
    <div class="card" style="padding:2rem 0rem 0rem 1rem;">
        <div class="d-flex mt-4 alia">
            <img src="../../../../assets/images/custm1.png">
            <div class="">
                <h6 class="ms-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te</h6>
                <p class="ms-3">Today at 8:45 am</p>
            </div>
        </div>
        <div class="mt-4 mb-2 px-2">
            <div class="card send_ml">
                <div class="card-header">
                    <i class="fas fa-envelope"></i>Send as email
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span class="pe-3">to</span>Alina Cooper alinacooper@gmail.com> alinacooper</li>
                  <li class="list-group-item rply">Reply via email</li>
                  <li class="list-group-item attch"><span class="me-4"><i class="fas fa-paperclip"></i></span><i class="far fa-smile"></i>
                    <button class="mx-4 ml_send">send</button></li>
                </ul>
              </div>
        </div>
    </div>
</div>
