<section class="px-4 py-4">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb bread_tg">
      <li class="breadcrumb-item"><a href="#">Roles & Permissions</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Create New Role
      </li>
    </ol>
  </nav>

  <div class="role-content p-4 rounded">
    <div class="row">
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Role Name" />
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-3">Assign Permission</div>
    </div>
    <div class="row">
      <div class="col-6">
        <input type="checkbox" name="all" value="all" class="me-1 mt-3" /><span
          >All</span
        >
      </div>
    </div>

    <div class="row mt-3">
      <hr />
    </div>

    <div class="row border-between">
      <div class="col-3" style="border-right: 1px solid #ccc">
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3"
          /><span class="fs-6">Dashboard</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Products</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Staff Management</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
      </div>
      <div
        class="col-3"
        style="padding-right: 20px; border-right: 1px solid #ccc"
      >
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3"
          /><span class="fs-6">Device and Customers</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Order History</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Inventory Management</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
      </div>
      <div
        class="col-3"
        style="padding-right: 20px; border-right: 1px solid #ccc"
      >
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3"
          /><span class="fs-6">Alarm Reports</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Subscription Plan</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Account Setting</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
      </div>
      <div
        class="col-3"
        style="padding-right: 20px; border-right: 1px solid #ccc"
      >
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3"
          /><span class="fs-6">Roles & Permissions</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Edit</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">Delete</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-5"
          /><span class="fs-6">Help</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="all"
            value="all"
            class="me-1 mt-3 ms-4"
          /><span class="text-muted">View</span>
        </div>
      </div>
      <hr class="mt-3" />
    </div>

    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</section>
