/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  background-color: #0d3154 !important;
  color: #fff !important;
  padding: 8px 11px !important;
  border-radius: 3px !important;
}
