.modal-dialog {width: 610px !important;}
.hr_md{border-left: 1px solid #bfbeba;}
.spc_p{padding: 0px 16px;}
h5{font-weight: 500; font-size: 16px;}
p{font-size: 14px;}
.conf{margin: 0rem 0rem 2rem 15rem !important; }
.form-check-input:checked {
    background-color: #1EC31B;
    border-color: #1EC31B;
}
.hr_de{    border-bottom: 1px solid #abaaa5;
    margin: 14px 0px;}
.create{background-color: transparent;border: none;color: #fff;padding: 4px 9px;margin: 1rem 0rem;}
.cr_sav{background-color: #6CA3CC;border: none;color: #fff;padding: 4px 9px;margin: 1rem 0rem;}
.updt{background-color: #3B5B77;border: none;color: #fff;padding: 4px 9px;margin: 1rem 0rem;}
::ng-deep .ngx-slider .ngx-slider-pointer {
    /* left: 136px !important;
    width: 12px !important;
    height: 12px !important;
    top: -4px !important;
    background-color: #3b5b77 !important;*/
}
::ng-deep .ngx-slider .ngx-slider-pointer {
    height: 0px !important;}

::mg-deep .ngx-slider .ngx-slider-pointer:after {
     background: transparent;
}
.red_d svg{margin: 5px 6px;width: 1.4em;height: 2em;}
 .you{font-size: 12px;color: #bdbcb7;font-weight: 100;}  
 .cont{font-size: 12px;
    font-weight: 100;} 
    .chec_k svg{color: #1EC31B;}
.pro_br{margin-bottom: 14px !important;}    
