
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left_side">
             <div class="leftside_img">
                <img src="../../assets/images/frgt_pass.png">
             </div>
             <div class="leftside1_img">
                <img src="../../assets/images/left2_img.png">
             </div>
            </div>
            <div class="col-md-9">
                <div class=" container login_txt">
                    <div class="sign_logo d-flex mr-auto justify-content-center">
                        <img src="../../assets/images/logo.png" width="100">
                    </div>
                    <div class="sign_head mt-4 mb-3">
                        <h1>Forgot password?</h1>
                        <p class="mt-2">Enter your email Id linked to this account</p>
                    </div>
                    <div class="login_sn">
                        <div class="mb-3">
                            <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                            <div class="input_icon">
                                <i class="fas fa-envelope"></i>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com ">
                            </div>
                        </div>
                        <div class="login_btn">
                            <button type="button" class="">continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



